/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: fit-content;
  width: 240px;
  background: #0A2558;
  padding-bottom: 30px;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.orderSection{
  display: none;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}

/* Profile Details Base Styles */
.profile-details {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Profile Container Styles */
.profile-container {
  position: absolute;
  top: 100%;
  right: 0;
  display: none; /* Hidden by default */
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}

.admin-sub-menu-wrap{
  width: 320px; 
  max-height: 300px;
  overflow: hidden;
  padding: 15px;
}

.admin-sub-menu{
  background: transparent;
}
.admin-info{
  display: flex;
  align-items: center;
}
.admin-info h3{
  font-weight: 500;
}
.admin-info img{
  width: 60px;
  border-radius: 50%;
  margin-right: 15px;
}
.admin-sub-menu hr{
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--tertiary-color);
  margin: 15px 0 10px;
}

.admin-sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--tertiary-color);
  margin: 12px 0;
}
.admin-sub-menu-link p{
  width: 100%;
}
.admin-sub-menu-link img{
  width: 40px;
  background: var(--tertiary-color);
  border-radius: 50%;
  padding: 8px;
  margin-right: 15px;
}
.admin-sub-menu-link span{
  font-size: 22px;
  transition: transform .5s;
}
.admin-sub-menu-link:hover span{
  transform: translateX(5px);
}
.admin-sub-menu-link:hover p{
  font-weight: 600;
}



.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.logo-details img{
  width:80px;
  margin-right: 15px;
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}
/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}
/* Right box */
.home-content .sales-boxes .top-sales{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* Scorecard section */
.scorecard-section {
  background: #981313;
  padding: 20px;
  margin: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.scorecard-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.rateHead{
  color:#fff;
}
.ratingAverage{
  color:#fff;
}
.ratingProgress-value{
  color:#fff; 
}
.scorecard-content {
  font-size: 18px;
  margin-bottom: 20px;
}
.star-rating .fa-star {
  font-size: 24px;
  color: #ffdd00;
}
.star-rating .fa-star.checked {
  color: #ffdd00;
}






:root {
  --primary-color: #181736;
  --secondary-color: #252549;
  --text-color-color: #fff;
}



/* Scorecard styles */
.scorecard {
  margin-top: 20px;
}

.scorecard .rating {
  display: flex;
  align-items: center;
  column-gap: 2rem;
  width: 75vw;
}

.scorecard .ratingAverage {
  width: 30%;
  background-color: var(--secondary-color);
  padding: 1rem;
  border-radius: .8rem;
  text-align: center;
}

.scorecard .ratingAverage h1 {
  font-size: 3rem;
}

.scorecard .ratingAverage p {
  margin-top: .7rem;
  letter-spacing: .1rem;
}

.scorecard .ratingAverage .star-outer {
  position: relative;
  font-size: 2rem;
  display: inline-block;
}

.scorecard .ratingAverage .star-outer::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: #fff8;
}

.scorecard .ratingAverage .star-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
}

.scorecard .ratingAverage .star-inner::before {
  content: '\2605 \2605 \2605 \2605 \2605';
  color: gold;
}

.scorecard .ratingProgress {
  width: 70%;
}

.scorecard .ratingProgress-value {
  display: flex;
  height: 2rem;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1rem;
}

.scorecard .ratingProgress-value .star {
  color: gold;
  font-size: 1.2rem;
}

.scorecard .ratingProgress-value p:last-child {
  width: 10%;
}

.scorecard .ratingProgress .progress {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  height: .5rem;
  border-radius: .5rem;
  background-color: #ff02;
}

.scorecard .ratingProgress .bar {
  height: 100%;
  background-color: gold;
  border-radius: .5rem;
}



/* Product list */
#div2, #div3, #div4, #div5, #div6, #div7, #div8, #div9 {
  padding-top: 104px;
}

.Vendor-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  color: aliceblue;
}

.Vendor-container  h1, h2 {
  text-align: center;
}

.Vendor-form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.Vendor-form-container input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1 1 30%;
}

.Vendor-form-container button {
  padding: 10px 20px;
  background-color:#C57C15;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex: 1 1 100%;
}
.back-btn{
  font-size: 20px;
  font-weight: 600;
  background-color: #C57C15;
  color: aliceblue;
  border: none;
}
.back-btn a{
  color: white;
  text-decoration: none;
}
.back-btn a:hover{
  background-color: #C57C15;
  color: black;
}

.Vendor-form-container button:hover {
  background-color: #218838;
}

.food-list-container {
  width: 100%;
}

.food-lists {
  list-style: none;
  padding: 0;
}

.food-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.food-list li img {
  max-width: 50px;
  margin-right: 10px;
}

.food-list li div {
  flex-grow: 1;
}

.food-list li button {
  margin-left: 10px;
  background-color: #c82333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.food-list li button:hover {
  font-weight: 600;
  background-color: black;
}

.edit-button {
  font-weight: 600;
  background-color: #c82333;
}

.edit-button:hover {
  background-color:black;
}

/* Order list */
/* .Order-container {
  width: 80%;
  margin: 20px auto;
}

.Order-container h2 {
  text-align: center;
  margin: 20px 0;
}
.back-btn{
  font-size: 20px;
  font-weight: 600;
  background-color: #C57C15;
  color: aliceblue;
 border: none;
}
.back-btn a{
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #C57C15;
  color: white;
}
.total {
  text-align: right;
  margin-bottom: 20px;
}

.cart-animation {
  text-align: center;
  font-size: 24px;
  margin-top: 20px;
}

.cart-animation h1 {
  text-align: center;
} */

.vm-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.vm-order-table {
  width: 100%;
  border-collapse: collapse;
}

.vm-order-table th, .vm-order-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.vm-order-table th {
  background-color: #f4f4f4;
}

.vm-btn {
  padding: 5px 10px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.vm-btn-approve {
  background-color: green;
}

.vm-btn-decline {
  background-color: red;
}

.vm-btn-processing {
  background-color: orange;
}

.vm-btn-pending {
  background-color: gray;
}

.vm-btn-cancelled {
  background-color: purple;
}

.vm-btn-delivered {
  background-color: blue;
}

.vm-btn-delete {
  background-color: darkred;
}

.vm-undo-message {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}

.vm-btn-undo {
  background-color: #28a745;
  margin-right: 10px;
}

.vm-btn-close {
  background-color: #dc3545;
  margin-left: 10px;
}


/* Analytics */
#analytics-container {
    max-width: 1200px;
    margin: auto;
}

#total-stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.total-orders, .total-sales {
    font-size: 2rem;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}

.analytics-charts {
  display: flex;
  justify-content: space-around; /* Space out the charts */
  margin-bottom: 2rem; /* Add some margin below the charts */
}

.chart {
  width: 45%; /* Set width to fit two charts side by side */
  max-width: 500px; /* Limit the max width */
  height: 250px; /* Reduce height for smaller charts */
  padding: 10px; /* Add padding for better spacing */
}

.scrollable-div {
    max-height: 20rem;
    overflow-y: auto;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 20px;
}




      /* Stock */

      /* Team */
.main{
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   /* background: linear-gradient(160deg, #413a3a, #000000); */
   position: relative;
   
}

#div6 h2{
    color: #C57C15;
    position: absolute;
    top: 20px;
    font-size: 70px;

}
#div6 h3{
    position: absolute;
    top: 100px;
    color: var(--primary-color);
    font-weight: 400;
    letter-spacing: 1px;
    width: 700px;
    text-align: center;
    font-size: 25px;
}

.profileCard{
    position: relative;
    width: 220px;
    height: 220px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 10px 10px 32px rgba(19, 18, 18, 0.4);
    transition: .6s;
    margin: 150px 25px 0px 0px;

    
}
.profileCard:hover{
    border-radius: 10px;
    height: 300px;
}

.profileCard .img{
    position: relative;
    width: 100%;
    height: 100%;
    transition: .6s;
    z-index: 99;

}

.img img{
    width: 100%;
    border-radius: 100px;
    box-shadow: 0 0 22px #3336;
}

.profileCard:hover img{
    border-radius: 10px;
    transition: .6s;

}
.profileCard:hover .img{
    transform: translateY(-60px)
    
}
.caption{
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: .6s;
}
.profileCard:hover .caption{
    opacity: 1;
}
.caption h1{
    margin-top: -50px;
    font-size: 19px;
    font-weight: 500;
}
.caption p{
    font-size: 13px;
    color: black;
    margin: 2px 0 6px 0;
    font-weight: 700;
}
.caption h5{
    font-size: 14px;
    color: black;
    margin-bottom: 10px;
}

.caption .socialLinks a{
    color: #C57C15;
    margin-right: 2px;
    font-size: 16px;
    transition: .2s;
}
.socialLinks a:hover{
    color: black;
}
       /* Messages */

      /* Rating Scorecard */
      :root {
        --primary-color: #181736;
        --secondary-color: #252549;
        --text-color: #fff;
        --highlight-color: #fe7;
        --background-color: #111;
        --border-color: #444;
        --border-radius: 5px;
        --transition-speed: 0.3s;
      }
      
     
      
      .rating-animation{
        text-align: center;
        background-color: #111;
        padding:8px;
        margin-bottom: 2rem;
      }
      .star-rating-container{
        width: 50%;
        max-width: 500px;
        background: var(--background-color);
        padding: 20px;
        border: 1px solid gold;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
      } 
      
      .rating-heading{
      background-color: #111;
      padding:5px;
      text-align: center;
      }
      .customers-reviews{
        width: 80%;
        max-width: 700px;
        background: var(--background-color);
        padding: 20px;
        border: 1px solid gold;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
        margin-top: 2rem;
        margin-bottom: 3rem;
      } 
      
      #div h1, h2, h3 {
        margin-bottom: 20px;
        color: var(--highlight-color);
      }
      
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        background: var(--background-color);
        color: var(--text-color);
        font-size: 16px;
      }
      
      textarea:focus {
        border-color: var(--highlight-color);
        outline: none;
      }
      .btn, .order-more{
        text-align: center;
      }
      button {
       text-align: center;
        padding: 10px;
        border: none;
        border-radius: var(--border-radius);
        background: #f7e700;
        color: var(--text-color);
        font-size: 16px;
        cursor: pointer;
        transition: background-color var(--transition-speed) ease;
      }
      
      button:hover {
       
        background: var(--highlight-color);
      }
      .order-more-btn{
        background-color: #111;
        color:#fff;
        transition: .4s ease ;
      }
      
      .order-more-btn:hover{
        border: 1px solid gold;
        background: transparent;
      }
      .star-widget{
        direction: rtl;
      }
      .star-widget input {
        display: none;
      }
      
      .star-widget label {
        font-size: 40px;
        color: var(--border-color);
        padding: 10px;
        cursor: pointer;
        transition: color var(--transition-speed) ease;
      }
      
      .star-widget input:not(:checked) ~ label:hover,
      .star-widget input:not(:checked) ~ label:hover ~ label {
        color: var(--highlight-color);
      }
      
      .star-widget input:checked ~ label {
        color: var(--highlight-color);
      }
      
      .star-widget input#rate-5:checked ~ label {
        color: #fe7;
        text-shadow: 0 0 20px #952;
      }
      
      .star-widget form {
        display: none;
      }
      
      input:checked ~ form {
        display: block;
      }
      
      form header {
        font-size: 25px;
        color: var(--highlight-color);
        font-weight: 500;
        margin: 5px 0 20px 0;
        text-align: center;
        transition: color var(--transition-speed) ease;
      }
      
      form .textarea {
        height: 100px;
      }
      
      .comments-list {
        list-style: none;
        padding: 0;
        display:flex;
        gap: 1rem;
        flex-wrap: wrap;
        margin-bottom: 10px;
        
        
      }
      #ratingForm{
        direction:ltr;
      }
      .comment {
        background: var(--background-color);
        padding:  10px;
        border: 1px solid var(--border-color);
        border-radius: var(--border-radius);
        margin-bottom: 10px;
        direction: rtl;
      }
      
      .comment .rating{
        color: gold;
      }
      .scorerating{
        border: none;
        margin: 0;
        padding: 0;
      }
      .rating {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        
        margin-top: 3rem;
        width: 90%;
        max-width: 700px;
        background: #080837;
        padding: 10px;
        border: 1px solid gold;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: auto;
       
       
      }
      
      .ratingAverage {
        width: 30%;
        background-color: var(--secondary-color);
        padding: 1rem;
        border-radius: .8rem;
        text-align: center;
      }
      
      .ratingAverage h1 {
        font-size: 3rem;
      }
      .edit{
        cursor: pointer;
      }
      .ratingAverage p {
        margin-top: .7rem;
        letter-spacing: .1rem;
      }
      
      .ratingAverage .star-outer {
        position: relative;
        font-size: 2rem;
        display: inline-block;
      }
      
      .ratingAverage .star-outer::before {
        content: '\2605 \2605 \2605 \2605 \2605';
        color: #fff8;
      }
      
      .ratingAverage .star-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        overflow: hidden;
      }
      
      .ratingAverage .star-inner::before {
        content: '\2605 \2605 \2605 \2605 \2605';
        color: gold;
      }
      
      .ratingProgress {
        width: 70%;
      }
      
      .ratingProgress-value {
        display: flex;
        height: 2rem;
        align-items: center;
        justify-content: space-evenly;
        column-gap: 1rem;
      }
      
      .ratingProgress .progress {
        flex-grow: 1;
        height: .5rem;
        border-radius: .5rem;
        background-color: #fff;
      }
      
      .bar {
        height: 100%;
        background-color: gold;
        border-radius: .5rem;
      }
      
      
      
      /* Logout */
.bayi {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #ffffff; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  text-align: center;
}

.bye {
  font-size: 6rem; 
  font-weight: bold;
  color: #C57C15; 
  margin: 0;
  padding: 0;
  transform: translateY(-50%);
}




/* Responsive Media Query */
/* Responsive Design */
@media (max-width: 768px) {
  .home-section {
    margin-left: 0;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar .logo-details {
    justify-content: center;
  }

  .home-content {
    margin: 0;
  }
}

@media (max-width: 480px) {
  .star-widget label {
    font-size: 30px;
  }

  .ratingAverage h1 {
    font-size: 2rem;
  }

  .ratingProgress-value {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
@media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
