*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

}
a{
  text-decoration: none;
  color: #fff;
}
li{
  list-style: none;
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  

}

body::before{
  content: '';
  position:absolute;
  inset:0;
  background: url(assets/clem-onojeghuo-zlABb6Gke24-unsplash.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position:center;
  filter: blur(2px);

}
body::after{
  content: '';
  position:absolute;
  inset:0;
  background: url(assets/jon-tyson-ZA9PHAnVP5g-unsplash.jpg);
  /* background: url(/images/jason-leung-poI7DelFiVA-unsplash.jpg); */
 
  background-attachment: fixed;
  background-size: cover;
  background-position:bottom;
  filter: blur(4px);
  opacity: 0;
  
  transition:0.5s;
}
body.signup::after{
  opacity:1;
}
body.signup .container{
  height:440px;
}
.container{
  position:relative;
  width: 350px;
  height: 340px;
  border-radius: 15px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.95);
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow:hidden;
  transition:0.5s
}


.container::before{
  content: "";
position: absolute;
height:100%;
width:100%;
background:repeating-conic-gradient(from var(--a),hsl(38, 61%, 73%) 20%,hsl(38, 61%, 73%) 15%,transparent 15%,transparent 70%,hsl(38, 79%, 54%)100% ); 
border-radius: 20px;
animation: animate 2.5s linear infinite;
}
body.signup .container::before{
  filter:hue-rotate(140deg);
}

@property --a{
  syntax:'<angle>';
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate{
  0%{
    --a:0deg;
  }
  100%{
    --a:360deg;
  }
}
.container span{
  position:absolute;
  inset:5px;
  overflow:hidden;
  border-radius: 15px;
}

.container span::before{
  content: '';
position: absolute;
inset: 5px;
background: url(/assets/tim-mossholder-FH3nWjvia-U-unsplash.jpg);
/* background: url(/images/footer-form-bg.png); */
background-attachment: fixed;
background-size: contain;
background-position:bottom;
filter:blur(10px);
}
.container span::after{
  content: '';
position: absolute;
inset: 5px;
background: url(/assets/tim-mossholder-FH3nWjvia-U-unsplash.jpg);
/* background: url(/images/footer-form-bg.png); */
background-attachment: fixed;
background-size: contain;
background-position:bottom;
filter:blur(15px);
}
body.signup .container span::before,
body.signup .container span::after{
  background: url(assets/jon-tyson-ZA9PHAnVP5g-unsplash.jpg);
 
  background-attachment: fixed;
background-size: contain;
background-position:bottom;
filter:blur(15px);
}
form{
  position:absolute;
  left:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  gap:15px;
  transition: 0.5s;
  
}
form#signupform{
  left:100%;
}
body.signup form#signinform{
  left:-100%;
}

body.signup form#signupform{
  left:0;
}
form h2{
  position: relative;
  color:#fff;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  font-weight: 500;
  margin-bottom: 10px;

}

form .inputBox{
  position:relative;
  width:70%;
  display:flex;
  justify-content: space-between;

}

form .inputBox a{
font-size: 0.88em;

}
form .inputBox a:nth-child(2){
  text-decoration: underline;
  color: #fff;
}
form .inputBox input{
  width:100%;
  outline: none;
  border:1px solid rgba(255,255,255,0.25);
  background: rgba(0,0,0,0.15);
  padding:6px 15px;
  font-size: 0.85em;
  color: #fff;
  border-radius: 4px;
}

form .inputBox input::placeholder{
  color:rgba(255,255,255,0.5)
}

form .inputBox input[type='submit']{
  background: #C57C15; 
  font-weight: 500;
  cursor:pointer;
  border-radius: 5px;
  transition: 0.5s ease;
}
form .inputBox input[type='submit']:hover{
  border:1px solid #C57C15;
  background: transparent;
  
}
form#signupform .inputBox input[type='submit']{
  /* background: #C57C15; */
  background: #f4242f;
  border-radius: 5px;
  transition: 0.5s ease;
}

form#signupform .inputBox input[type='submit']:hover{
  border:1px solid rgba(255,255,255,0.5);
  background: #C57C15; 
  
}
form#signupform b{
  font-weight: 500;
  /* color: #C57C15;
  color:#f4242f;
  color:#eee; */
  color:#ffeb3b;
  ;
  text-decoration: underline;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  width: 30px;
  height: 30px;
  transition: 0.4s ease;
}
.social-icons a:hover{
  transform: scale(1.2)translateY(-10px);
  color:#f4242f;
  border:2px solid #f4242f;;
  box-shadow: inset 0 0 10px #f4242f, inset 0 0 10px #f4242f;;
 

}

.error {
  color: red;
  font-size: 0.75em;
  margin-top: 5px;
  display: none;
}


