/* admin_data_list.css */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

.messsage-tb1 {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.messsage-tb1, .messsage-tb3, td {
  border: 1px solid #ddd;
}
td{
  color: #fff;
  background-color: #111;

}
.messsage-tb3, td {
  padding: 8px;
  text-align: left;
}

.messsage-tb3 {
  background-color: #C57C15;
  color: #fff;
  font-size: 18px;
}
.customer-name{
  color:#C57C15;
  text-align: center;
  
}
.message-btn{
  text-align: center;
}
.messsage-btn {
  padding: 10px 15px;
  background-color: #C57C15;
  color: white;
  border-radius: 8px;
  border: none;
  font-size: 17px;
  transition: .5s ease;
  cursor: pointer;
  
}

.messsage-btnhover {
  background-color: transparent;
  color:#111;
  border: 1px solid #C57C15;
}
